{% extends 'social_media/base.html' %}

{% block title %}KittenStagram | Login{% endblock %}


{% block content %}



<header class="fixed-top mt-5 p-3" style="border-bottom:none; background:#9ba9b6;">
    <h1 class="m-0 pb-2">KittenStagram</h1>
</header>



<div class="row justify-content-center mt-4 mt-xl-5">
    <div class="col col-md-6 col-xl-4" style="max-width:425px;">
        <div class="bg-white rounded m-2 pt-2 pb-3">

            {% if form.errors %}
                <!-- <div class="alert alert-danger text-center m-0" role="alert" style="font-size:.9em;">
                    <P>Ruh-Roh!</P>
                </div> -->
                <div class="text-danger">
                    whoops
                </div>
            {% endif %}

            <form class="px-4 py-3" action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username">Username</label>
                    <input id="id_username" class="form-control" type="text" name="username" required />
                </div>

                <div class="form-group">
                    <label for="id_password">Password</label>
                    <input id="id_password" class="form-control" type="password" name="password" required />
                </div>

                <button class="btn btn-primary" type="submit">Login</button>
                <input type="hidden" name="next" value="{{ next }}">
            </form>


            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Forgot password?</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="{% url 'social_media:register' %}">Create an account</a>
            <a class="dropdown-item" href="#">Continue as a guest</a>
        </div>
    </div>

</div>

{% endblock %}
