<!-- this template is for the "My Account" section -->

{% extends 'social_media/base.html' %}


{% block title %}KittenStagram | My Account{% endblock %}


{% block content %}
{% include 'social_media/modals/set_avatar_modal.html' %}
{% include 'social_media/modals/view_avatar_modal.html' %}
{% include 'social_media/modals/delete_avatar_modal.html' %}
{% include 'social_media/modals/delete_account_modal.html' %}

<!-- hidden form for avatar creation / used for all screen sizes -->
<form id="avatar_upload_form" class="d-none" enctype="multipart/form-data" action="{% url 'social_media:set_avatar' %}" method="POST">
    {% csrf_token %}
    {{ form }}
</form>


<div class="rounded bg-white mx-auto p-3 col-lg-9 col-xl-7">
    <!-- avatar image -->
    <div class="d-md-flex mb-md-2">
        <div class="avatarWrapper mb-2 mb-md-0 col-md-4 p-0">
            <button class="btn-link bg-none border-0 p-0 m-0" data-toggle="modal" data-target="#viewAvatarModal">
                <img id="accountAvatar" class="img-thumbnail p-2" src="{{ user.profile.avatar.url }}" alt="avatar">
                <div class="middle d-none">
                    <div class="btn border rounded-circle px-3 py-0 m-0" style="opacity:0.5; background:#f8f9fa; font-size:4em;">
                        <i class="fas fa-plus"></i>
                    </div>
                </div>
            </button>
        </div>

    <!-- partial included - this is for the bio/mewmoir section -->
        <div class="flex-fill pl-md-3">
            {% include 'social_media/assets/update_bio_partial.html' %}
        </div>
    </div>

<!-- separate alert div for any form errors -->
    {% if user_form.errors or profile_form.errors %}
        <div class="alert alert-dismissable fade show border mt-3 pr-2" role="alert" style="word-break: break-word;">
            <div class="text-right">
                <button type="button" class="close pr-1" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <ul class="list-group list-group-flush text-danger" style="font-size:0.9em;">
                {% for field in user_form %}
                    {% if field.errors %}
                        <li class="list-group-item border-0 px-0 py-2">{{ field.errors|striptags }}</li>
                    {% endif %}
                {% endfor %}

                {% for field in profile_form %}
                    {% if field.errors %}
                        <li class="list-group-item border-0 px-0 py-2">{{ field.errors|striptags }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    <div class="d-md-flex">
    <!-- partial included - this is for the personal info section -->
        <div class="flex-fill pr-md-3">
            {% include 'social_media/assets/update_profile_partial.html' %}
        </div>

        <div class="col-md-6 p-0">
            <ul class="list-group pt-2" style="word-wrap:break-word;">
                <li class="list-group-item bg-light">Account</li>
                <li class="list-group-item">
                    Username: <span class="text-secondary">{{ user.username }}</span>
                </li>
                <li class="list-group-item">
                    Email: <span class="text-secondary">{{ user.email }}</span>
                </li>
                <li class="list-group-item">
                    Date Joined: <span class="text-secondary">{{ user.date_joined|date:"F j, Y" }}</span>
                </li>
                <li class="list-group-item">
                    <button id="deleteAccountButton" class="bg-white border-0 p-0" data-toggle="modal" data-target="#deleteAccountModal">Delete Account</button>
                </li>
            </ul>
        </div>

    </div>

</div>



{% endblock %}
