<!-- this template is for the "My Account" section -->

{% extends 'social_media/base.html' %}


{% block title %}KittenStagram | My Account{% endblock %}


{% block content %}
{% include 'social_media/modals/crop_pic_modal.html' %}

<!-- hidden form for avatar creation / used for all screen sizes -->
<form id="upload_form" class="d-none" enctype="multipart/form-data" action="{% url 'social_media:set_avatar' %}" method="POST">
    {% csrf_token %}
    {{ form }}
</form>

<!-- PAGE LAYOUT FOR SM, XS -->
    <section class="rounded bg-white p-3 d-block d-md-none">
        <label class="btn-link" for="id_file">
            <img class="avatar img-thumbnail p-2" src="/{{ avatar }}" alt="avatar" >
        </label>

        <div class="mt-2">
            <ul class="list-group">
                <button class="list-group-item text-left bg-light" type="button" data-toggle="collapse" data-target="#accountGroup" aria-expanded="false" aria-controls="accountGroup">Account</button>
                <span id="accountGroup" class="collapse">
                    <li class="list-group-item">
                        Username: <br>
                        <span class="text-secondary">{{ user.username }}</span>
                    </li>
                    <li class="list-group-item">
                        Email: <br>
                        <span class="text-secondary">{{ user.email }}</span>
                    </li>
                    <li class="list-group-item">
                        Avatar: <br>
                        <span class="text-secondary">{{ user.avatar.file.filename }}</span>
                    </li>
                    <!-- <li class="list-group-item">Item <span class="float-right"><i class="fas fa-pencil-alt"></i></span></li> -->
                </span>

                <button class="list-group-item text-left bg-light" type="button" data-toggle="collapse" data-target="#accountSettings" aria-expanded="false" aria-controls="accountSettings">Settings</button>
                <span id="accountSettings" class="collapse">
                    <li class="list-group-item">Item</li>
                    <li class="list-group-item">Item</li>
                    <li class="list-group-item">Item</li>
                </span>
            </ul>
        </div>
    </section>


<!-- PAGE LAYOUT FOR MD, LG, XL -->
    <section class="rounded bg-white p-3 d-none d-md-block w-75 m-auto">
        <div class="d-flex">
            <div class=""  style="width: 33.333%!important;">
                <div class="avatarWrapper position-relative">
                    <img class="avatar img-thumbnail p-2" src="/{{ avatar }}" alt="avatar" >
                    <div class="middle">
                        <label class="btn-link border rounded-circle px-3 m-0" for="id_file" style="opacity:0.5; background:#f8f9fa; font-size:4em;">
                            <i class="fas fa-plus"></i>
                        </label>
                    </div>
                </div>


                <ul class="list-group mt-3">
                    <li class="list-group-item bg-light">Account Details</li>
                    <li class="list-group-item">
                        Username: <span class="text-secondary pl-2">{{ user.username }}</span>
                    </li>
                    <li class="list-group-item">
                        Email: <span class="text-secondary pl-2">{{ user.email }}</span>
                    </li>
                    <li class="list-group-item">
                        Item: <span class="text-secondary pl-2"><span class="text-secondary">id: {{ user.id }} | session id: {{ request.session.sessionUserID }}</span></span>
                    </li>
                    <li class="list-group-item">
                        Avatar: <span class="text-secondary">{{ user.avatar.file.filename }}</span>
                    </li>
                </ul>
            </div>


            <div class="ml-3" style="width: 66.666%!important;">
                <ul class="list-group">
                    <li class="list-group-item bg-light">Account</li>
                    <li class="list-group-item">Item</li>
                    <li class="list-group-item">Item</li>
                    <li class="list-group-item">Item</li>

                    <li class="list-group-item bg-light">Settings</li>
                </ul>
                
            </div>
        </div>

    </section>
{% endblock %}
