<!-- this template is for the "My Account" section -->

{% extends 'social_media/base.html' %}


{% block title %}KittenStagram | My Account{% endblock %}


{% block content %}
{% include 'social_media/modals/crop_pic_modal.html' %}

<!-- <div class="d-none">
    <button id="cropPhotoModalButton" role="button" data-toggle="modal" data-target="#cropPhotoModal"></button>
</div> -->

<section class="rounded bg-white p-3 d-block d-md-none">
    <div id="avatarWrapper" class="d-md-inline-flex">
        <a class="" role="button" href="">
            <img id="myAvatar" class="border rounded" src="/static/social_media/img/avatar.jpg" alt="profile pic" />
        </a>
    </div>

<!-- account details for sm, xs -->
    <div class="mt-2">
        <ul class="list-group">
            <button class="list-group-item text-left bg-light" type="button" data-toggle="collapse" data-target="#accountGroup" aria-expanded="false" aria-controls="accountGroup">Account</button>
            <span id="accountGroup" class="collapse">
                <li class="list-group-item">
                    Username: <br>
                    <span class="text-secondary">{{ user.username }}</span>
                </li>
                <li class="list-group-item">
                    Email: <br>
                    <span class="text-secondary">{{ user.email }}</span>
                </li>
                <li class="list-group-item">
                    Item <br>
                    <span class="text-secondary">id: {{ user.id }} | session id: {{ request.session.sessionUserID }}</span>
                </li>
                <!-- <li class="list-group-item">Item <span class="float-right"><i class="fas fa-pencil-alt"></i></span></li> -->
            </span>

            <button class="list-group-item text-left bg-light" type="button" data-toggle="collapse" data-target="#accountSettings" aria-expanded="false" aria-controls="accountSettings">Settings</button>
            <span id="accountSettings" class="collapse">
                <li class="list-group-item">Item</li>
                <li class="list-group-item">Item</li>
                <li class="list-group-item">Item</li>
            </span>
        </ul>
    </div>
</section>

<!-- account details for md, lg, xl -->

<section class="rounded bg-white p-3 d-none d-md-block w-75 m-auto">
    <div class="d-flex">
        <div class=""  style="width: 33.333%!important;">

            <div class="">
                <div class="w-100 d-flex m-auto justify-content-center">
                    {% if user.avatar %}
                        <img class="img-thumbnail p-2" src="/{{ user.avatar.file.url }}" alt="avatar" >
                    {% else %}
                        <img class="img-thumbnail p-2" src="/static/social_media/img/avatar_300.jpg" alt="avatar" >
                    {% endif %}
                </div>

                <form id="upload_form" class="d-none" enctype="multipart/form-data" action="{% url 'social_media:set_avatar' %}" method="POST">
                    {% csrf_token %}
                    <label class="btn-link border rounded-circle px-3 m-0" for="id_file" style="opacity:0.2; background:#f8f9fa; font-size:4em;">
                        <i class="fas fa-plus"></i>
                    </label>
                    <div class="d-none">
                        {{ form }}
                    </div>
                </form>
            </div>


            <ul class="list-group mt-3">
                <li class="list-group-item bg-light">Account Details</li>
                <li class="list-group-item">
                    Username: <span class="text-secondary pl-2">{{ user.username }}</span>
                </li>
                <li class="list-group-item">
                    Email: <span class="text-secondary pl-2">{{ user.email }}</span>
                </li>
                <li class="list-group-item">
                    Item: <span class="text-secondary pl-2"><span class="text-secondary">id: {{ user.id }} | session id: {{ request.session.sessionUserID }}</span></span>
                </li>


            </ul>

        </div>



        <div class="ml-3" style="width: 66.666%!important;">
        <!-- <div class="w-75 ml-3"> -->
            <!-- <div class="d-none d-md-block"> -->
                <ul class="list-group">
                    <li class="list-group-item bg-light">Account</li>
                    <li class="list-group-item">Item</li>
                    <li class="list-group-item">Item</li>
                    <li class="list-group-item">Item</li>

                    <li class="list-group-item bg-light">Settings</li>
                </ul>
        <!-- </div> -->
        </div>
    </div>

</section>
{% endblock %}
