<!-- this template is for the "My Album" section -->

{% extends 'social_media/base.html' %}


{% block title %}KittenStagram | My Album{% endblock %}



{% block content %}

<!-- <div class="row justify-content-center mt-4">
    <div class="col-md-auto">
        <div class="jumbotron">
            <h1>Hello, Guest!</h1>
            <p class="lead">You are signed in as a guest user, so there are no adorable pictures here.</p>
            <hr class="my-4">
            <p>Sign in or create a new account to start your own album.</p>
            <a class="btn btn-primary" role="button" href="#">Sign in</a>
            <a class="btn btn-info" role="button" href="#">New account</a>
        </div>
    </div>
</div> -->

<div class="grid">
    <div class="grid-sizer album"></div>
    {% for post in posts %}
        <div class="grid-item album">
            <div class="rounded p-2 bg-white">
                <a href="{% url 'social_media:viewPost' post.id %}">
                    <img class="img-thumbnail" style="border:none;" src="/{{ post.photo.url }}" alt="photo" />
                </a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
