{% extends 'social_media/base.html' %}


{% block title %}KittenStagram | Home{% endblock %}



{% block content %}


<div class="grid">
    <div class="grid-sizer"></div>
    {% if posts %}
        {% for post in posts %}
        <!-- include modal within each grid item // passes post's data when toggled -->
            {% include 'social_media/modals/view_modal.html' %}

            <div id="gridItem{{post.id}}" class="grid-item">
                <div class="rounded p-2 bg-white">
                    <div class="media m-2">
                        <img id="" class="mr-3" src="/static/social_media/img/frame1.png" alt="" style="width:15%;" />
                        <div class="media-body">
                            <h5 class="mt-0">{{ post.user.username }} <small>at {{ post.created_at|date:"g:i A - j M y" }}</small></h5>
                            {{ post.caption }}
                        </div>
                    </div>

                    <a href="{% url 'social_media:viewPost' post.id %}">
                        <img id="grid_image" class="img-fluid border-0 brick" src="/media/{{ post.photo.photo }}" alt="image for post id: {{ post.id }}" />
                    </a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>


{% endblock %}
