<!-- /templates/social_media/index.html -->

{% extends 'social_media/base.html' %}


{% block title %}KittenStagram | Home{% endblock %}

{% load humanize %}


{% block content %}


<div class="grid mb-5">
    <div class="grid-sizer"></div>
    {% if posts %}
        {% for post in posts %}
            <div id="gridItem{{post.id}}" class="grid-item">
                <div class="rounded p-2 bg-white">

                    <div class="d-flex p-1">
                        <div class="flex-grow-1">
                            <div class="media">
                                <a class="mr-3" href="{% url 'social_media:myAlbum' post.user.id %}" style="width:15%;">
                                    <img class="rounded w-100" src="/{{ post.user.profile.avatar.url }}" alt="user avatar" />
                                </a>
                                <div class="media-body">
                                    <h6 class="mb-1">{{ post.user.username }} <small> | {{ post.created_at|naturaltime }}</small></h6>
                                    {{ post.caption }}
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- click image takes to image/post page -->
                    <div class="mt-1 px-1">
                        <a href="{% url 'social_media:viewPost' post.id %}">
                            <img class="border rounded w-100" src="/media/{{ post.photo }}" alt="image for post id: {{ post.id }}" />
                        </a>

                        <span class="ml-1"><small>{{ post.created_at|date:"g:i A - j M y" }}</small></span>
                        {% if post.com_count == 1 %}
                            <span class="mr-1 float-right"><small>{{ post.com_count }} comment</small></span>
                        {% else %}
                            <span class="mr-1 float-right"><small>{{ post.com_count }} comments</small></span>
                        {% endif %}
                    </div>

                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>


{% endblock %}
