<!-- /templates/social_media/index.html -->

{% extends 'social_media/base.html' %}


{% block title %}KittenStagram | Home{% endblock %}

{% load humanize %}
{% load tz %}


{% block content %}
{% timezone request.session.user_timezone %}


<form id="likeForm" class="d-none" method="POST">
    {% csrf_token %}
    {{ likeForm }}
    <button id="likeFormSubmitButton" type="submit">Like</button>
</form>

<div class="grid mb-5">
    <div class="grid-sizer"></div>
    {% if posts %}
        {% for post in posts %}
            <div id="gridItem{{post.id}}" class="grid-item">
                <div class="rounded p-2 bg-white">

                    <div class="d-flex p-1">
                        <div class="flex-grow-1">
                            <div class="media">
                                <a class="mr-3" href="{% url 'social_media:myAlbum' post.user.id %}" style="width:15%;">
                                    <img class="rounded w-100" src="{{ post.user.profile.avatar.url }}" alt="user avatar" />
                                </a>
                                <div class="media-body">
                                    <h6 class="mb-1">{{ post.user.username }} <small> | {{ post.created_at|naturaltime }}</small></h6>
                                    {{ post.caption }}
                                </div>
                            </div>
                        </div>

                        <!-- if viewed post belongs to signed in user, user sees delete option -->
                        {% if post.user.id == user.id %}
                            {% include 'social_media/modals/delete_post_modal.html' %}
                            <div class="justify-content-end">
                                <button class="close mx-1 " type="button" data-toggle="modal" data-target="#deletePostModal{{post.id}}" title="delete post" style="font-size:1.2em;">
                                    <i class="fas fa-trash-alt text-info"></i>
                                </button>
                            </div>
                        {% endif %}
                    </div>

            <!-- click image takes to image/post page -->
                <!-- photo -->
                    <div class="p-1">
                        <a href="{% url 'social_media:viewPost' post.id %}">
                            <img class="rounded w-100" src="{{ post.photo.url }}" alt="post image" />
                        </a>
                    </div>

                <!-- row under photo -->
                    <div class="d-flex m-auto px-1">
                    <!-- timestamp -->
                        <span class="ml-1">
                            <small>{{ post.created_at|date:"g:i A - j M y" }}</small>
                        </span>

                    <!-- likes count and icon -->
                        <span id="{{ post.id }}" class="ml-auto js-heart-switch give-pointer">
                            {% if post.id in like_array %}
                                <i class="fas fa-heart text-danger"></i>
                            {% else %}
                                <i class="far fa-heart"></i>
                            {% endif %}
                                <small class="js-like-count">{{ post.post_likes.all.count }}</small>
                        </span>

                    <!-- comment count -->
                        <span class="js-comment-bubble pr-2 pl-4" data-id="{{ post.id }}">
                            <a class="give-pointer" href="{% url 'social_media:viewPost' post.id %}">
                                <i class="far fa-comment text-primary"></i>
                            </a>
                            <small>{{ post.comment_set.all.count }}</small>
                        </span>
                    </div>

                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>

{% endtimezone %}
{% endblock %}
