{% extends 'social_media/base.html' %}


{% block title %}KittenStagram | Home{% endblock %}

{% load humanize %}

{% block content %}


{% include 'social_media/modals/delete_post_modal.html' %}
{% include 'social_media/modals/delete_comment_modal.html' %}

<div class="d-flex justify-content-center px-0 py-2">
    <div class="rounded p-2 p-md-3 bg-white">

    <!-- avatar and caption -->
        <div class="d-flex pb-md-1">
            <div class="flex-grow-1">
                <div class="media">
                    <a class="mr-3" href="{% url 'social_media:myAlbum' post.user.id %}">
                        <img class="post_avatar rounded" src="/{{ post.user.profile.avatar.url }}" alt="user avatar" />
                    </a>
                    <div class="media-body">
                        <h5 class="mb-1">{{ post.user.username }} <small> | {{ post.created_at|naturaltime }}</small></h5>
                        {{ post.caption }}
                    </div>
                </div>
            </div>

        <!-- if viewed post belongs to signed in user, user sees delete option -->
            {% if post.user.id == user.id %}
                <div class="justify-content-end">
                    <button class="close mx-1 icon-resize" type="button" data-toggle="modal" data-target="#deletePostModal{{post.id}}" title="delete post">
                        <i class="fas fa-trash-alt text-info"></i>
                    </button>
                </div>
            {% endif %}
        </div>

    <!-- image, timestamp, add comment toggle -->
        <div class="mt-2">
            <img id="postImage" class="border rounded img-fluid" src="/{{ post.photo.url }}" alt="image for post id: {{ post.id }}">
            <div class="row p-2">
                <div class="col">
                    <small>{{ post.created_at|date:"g:i A - j M y" }}</small>
                </div>
        <!-- toggle comment button -->
                <div class="col text-right">
                    <a id="commentFormToggleButton" role="button" class="icon-switch btn btn-link p-0" data-toggle="collapse" data-target="#commentFormToggle" aria-expanded="false">
                        <div class="switch text-primary">
                            <span class="d-none d-md-inline pr-1">comment</span>
                            <i class="far fa-comment icon-resize align-text-top"></i>
                        </div>
                        <div class="switch text-secondary d-none">
                            <span class="d-none d-md-inline pr-1">close</span>
                            <i class="fas fa-times icon-resize align-text-top"></i>
                        </div>
                    </a>
                </div>
            </div>

        <!-- toggle comment form -->
            <div id="commentFormToggle" class="collapse border-top pb-2">
                <form action="{% url 'social_media:new_comment' post.id %}" method="POST">
                    {% csrf_token %}
                    <input id="id_user" type="hidden" name="user" value="{{ user.id }}" />
                    <input id="id_post" type="hidden" name="post" value="{{ post.id }}" />
                    <div class="form-group">
                        <label id="commentLabel" class="sr-only" for="comment">Comment</label>
                        <textarea id="id_comment" class="form-control border-0 w-100" maxlength="255" rows="3" name="comment" placeholder="add comment..." autofocus required></textarea>
                    </div>
                    <div class="text-right mr-2">
                        <button class="btn btn-primary py-0 px-2" type="submit">comment</button>
                    </div>
                </form>
            </div>
        </div>


    <!-- all comments div -->
        <div id="commentWrapper">
            <div class="border-top my-2">
            <!-- <div class="border-top my-scroll my-2"> -->
                {% for comment in comments %}
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <div class="media border-bottom py-2 py-md-3">
                                <a class="mr-2 mr-md-3" href="{% url 'social_media:myAlbum' comment.user.id %}">
                                    <img class="comment_avatar rounded" src="/{{ comment.user.profile.avatar.url }}" alt="user avatar" />
                                </a>
                                <div class="media-body">
                                    <h6>{{ comment.user.username }} <small>at {{ comment.created_at|date:"g:i A - j M y" }}</small></h6>
                                    <span class="text-dark">{{ comment.comment }}</span>
                                </div>
                            </div>
                        </div>

                    <!-- delete option if user is comment author -->
                        {% if comment.user.id == user.id %}
                            <div class="d-flex">
                                <div class="justify-content-end border-bottom py-2 py-md-3">
                                    <button class="close mx-1 icon-resize" type="button" data-toggle="modal" data-target="#deleteCommentModal" title="delete comment">
                                        <i class="fas fa-trash-alt text-info"></i>
                                    </button>
                                </div>
                                <form id="deleteCommentForm" class="d-none" action="{% url 'social_media:delete_comment' comment.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" id="comment_id" name="comment_id" value="{{ comment.id }}">
                                </form>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}
