{% extends 'social_media/base.html' %}


{% block title %}KittenStagram | Home{% endblock %}

{% load humanize %}

{% block content %}


{% include 'social_media/modals/delete_modal.html' %}

<div class="d-flex justify-content-center px-0 py-2">
    <div class="rounded p-2 p-md-3 bg-white">

    <!-- avatar and caption -->
        <div class="d-flex pb-md-1">
            <div class="flex-grow-1">
                <div class="media">
                    <a class="mr-3" href="{% url 'social_media:myAlbum' post.user.id %}">
                        <img class="post_avatar rounded" src="/{{ post.user.avatar.file.url }}" alt="user avatar" />
                    </a>
                    <div class="media-body">
                        <h5 class="mb-0">{{ post.user.username }} <small> | {{ post.created_at|naturaltime }}</small></h5>
                        {{ post.caption }}
                    </div>
                </div>
            </div>

        <!-- if viewed post belongs to signed in user, user sees delete option -->
            {% if post.user.id == request.session.sessionUserID %}
                <div class="justify-content-end">
                    <button class="close mx-1 icon-resize" type="button" data-toggle="modal" data-target="#deleteModal{{post.id}}" title="delete post">
                        <i class="fas fa-trash-alt text-info"></i>
                    </button>
                </div>
            {% endif %}
        </div>

    <!-- image, timestamp, add comment toggle -->
        <div class="mt-2">
            <img class="rounded img-fluid" src="/media/{{ post.photo.photo }}" alt="image for post id: {{ post.id }}">
            <div class="row p-2">
                <div class="col">
                    <small>{{ post.created_at|date:"g:i A - j M y" }}</small>
                </div>
        <!-- toggle comment button -->
                <div class="col text-right">
                    <a id="commentFormToggleButton" role="button" class="icon-switch" data-toggle="collapse" data-target="#commentFormToggle" aria-expanded="false">
                        <i class="far fa-comment text-primary icon-resize switch"></i>
                        <i class="fas fa-times text-secondary icon-resize switch d-none"></i>
                    </a>
                </div>
            </div>
        </div>

    <!-- toggle comment form -->
        <div id="commentFormToggle" class="collapse border-top pb-2">
            <form action="{% url 'social_media:new_comment' post.id %}" method="POST">
                {% csrf_token %}
                <!-- <fieldset> -->
                <input id="user" type="hidden" name="user" value="{{ request.session.sessionUserID }}" />
                <input id="post" type="hidden" name="post" value="{{ post.id }}" />
                <div class="form-group">
                    <label id="commentLabel" class="sr-only" for="comment">Comment</label>
                    <textarea id="comment" class="form-control border-0 w-100" maxlength="255" rows="3" name="comment" placeholder="add comment..." autofocus required></textarea>
                </div>
                <div class="text-right mr-2">
                    <button class="btn btn-primary py-0 px-2" type="submit">comment</button>
                </div>
                <!-- </fieldset> -->
            </form>
        </div>

    <!-- all comments div -->

        <div class="border-top my-scroll my-2">
            {% for comment in comments %}
                <div class="media border-bottom py-2 py-md-3">
                    <a class="mr-2 mr-md-3" href="{% url 'social_media:myAlbum' comment.user.id %}">
                        <img class="comment_avatar rounded" src="/{{ comment.user.avatar.file.url }}" alt="user avatar" />
                    </a>
                    <div class="media-body">
                        <h6 class="mb-0">{{ comment.user.username }} <small>at {{ comment.created_at|date:"g:i A - j M y" }}</small></h6>
                        {{ comment.comment }}
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>
</div>


{% endblock %}
