<!-- apps/kyleseem/templates/kyleseem/about.html -->

<div class="aboutMe text-justify">
    <!-- <p class="lead mb-2" style="font-family: 'Shadows Into Light Two', cursive;">My name is Kyle and I make web things.</p> -->
    <h4 style="font-family:'Shadows Into Light Two', cursive; font-weight:300;">My name is Kyle and I make web things.</h4>

    <p>I'm a full-stack web developer specializing in the MEAN and Django stacks. I currently live in upstate New York, but spent most of my life in the Pacific Northwest. I love cats, video games, kayaking, and Harry Potter. I believe in compassion, empathy, knowledge and inclusion.</p>

    <div class="d-none d-md-block">
        <p>When I started university in 2003, I had a clear plan for my future, but as time went on I realized that plan just wasn't right for me. In 2010, I decided I needed to shake things up, so I left my home in Bellingham, WA with whatever I could fit in my car and drove the 3000 miles across the country to join an old friend in Albany, NY.</p>

        <p>I started coding almost by accident. I was an administrative assistant at a local health insurance company and I was working on what was supposed to be a simple MS Access/Excel project. Before it was completed, the scope of the project shifted and required far more functionality than the original plan. Hoping I could salvage the work I had already done, I started Googling and I found myself on forums like <a href ng-click="newTab('https://stackoverflow.com/')">stackoverflow.com</a> where I disjointedly started learning VBA and MS SQL. I worked with IT to get the necessary administrator permissions and was able to build a multi-tier application using just MS Access and Excel; my project was presented to the company and became an application used daily by the Medical Affairs Department and Special Investigations Unit.</p>

        <p>This venture into coding was like finding the Room of Requirement: I had suddenly stumbled upon exactly what I needed. I started taking simple HTML and CSS tutorials online and realized the more I learned, the more I wanted to learn. So at 31, with the support of family and friends, I quit my job and went back to school.</p>

        <p>Learning to code has changed my life. Being able to build something so conceptually abstract out of nothing makes me feel like a freakin' wizard. I have renewed drive and purpose, and I get to be creative, productive, and solve puzzles daily. I'm continuously learning and improving, both my skills and myself as a person, and I've gained a new sense of value and empowerment. I absolutely love what I do and I feel very lucky to be able to say so.</p>
    </div>

</div>
