<!-- /templates/login_reg/register.html -->

{% extends 'login_reg/base.html' %}

{% block content %}


<div class="row justify-content-center mt-3 mt-lg-5">
    <div class="col col-md-6 col-xl-4">
        <div class="bg-white rounded m-2 pt-2 pb-3">

        {% if messages %}
            <div class="alert alert-danger m-0" role="alert" style="font-size:.9em;">
                <!-- <ul class=""> -->
                    {% for alert in messages %}
                        <span {% if messages.tags %} class="messages.tags" {% endif %}>{{ alert }}</span><br>
                    {% endfor %}
                <!-- </ul> -->
            </div>
        {% endif %}

    <!-- REGISTER FORM -->
            <form class="px-4 py-3" action="{% url 'login_reg:register' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="regUsernameInput">Username</label>
                    <input id="regUsernameInput" class="form-control" type="text" name="username" value="{{request.session.username}}" placeholder="Mittens1234" required />
                </div>

                <div class="form-group">
                    <label for="regEmailInput">Email</label>
                    <input id="regEmailInput" class="form-control" type="email" name="email" value="{{request.session.email}}" placeholder="example@email.com" required />
                </div>

                <div class="form-group">
                    <label for="regPasswordInput">Password</label>
                    <input id="regPasswordInput" class="form-control" type="password" name="password" value="{{request.session.password}}" placeholder="Password" required />
                </div>

                <div class="form-group">
                    <label for="regPasswordConfirm">Confirm</label>
                    <input id="regPasswordConfirm" class="form-control" type="password" name="pw_verify" placeholder="Confirm Password" required />
                </div>

                <button class="btn btn-primary" type="submit">Register</button>
            </form>

    <!-- divider -->
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'login_reg:user_login' %}">Use existing account</a>

            <a class="dropdown-item" href="{% url 'login_reg:guest' %}">Continue as a guest</a>
        </div>
    </div>



<!-- {% if users %}
    {% for user in users %}
        <p>{{ user.id }} | {{ user.username }} | {{ user.email }} | {{ user.pw_hashed }}</p>
    {% endfor %}
{% endif %} -->


</div>

{% endblock %}
