html {
    font-size: 1em;
}
body {
    background-image: url("../img/yarn-bright.png");
    background-repeat: repeat;
}

/* header and nav */
    header.page-header {
        border-bottom: none;
        background: #9ba9b6;
    }
        header h1 {
            font-size: 2.75em;
            text-align: center;
            font-family: 'Leckerli One', cursive;
            color: #000;
        }


/* ------------------------------------------------ */
/* ------- MEDIUM DEVICES/SCREENS ------- */
@media screen and (min-width: 768px) {
    header h1 {
        font-size: 6em;
    }
}

/* ------------------------------------------------ */
/* ------- LARGE DEVICES/SCREENS ------- */

@media screen and (min-width: 992px) {
    header h1 {
        /* font-size: 6.25em; */
    }
    #myIcon {
        width: 3.75em;
    }
}
