

<!-- modal for delete post alert -->

<div id="albumOwnerModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="albumOwnerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mx-auto py-2 px-3" role="document">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <h4 class="mb-0" style="font-weight:300; font-size:1.75em; word-break:break-all;">Get to know {{ album_owner }}!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="d-md-flex border rounded p-3">
                    <div class="flex-md-fill pb-2 pb-md-0 pr-md-2 w-100">
                        <img class="rounded w-100" src="{{ album_owner.profile.avatar.url }}" alt="photo" />
                    </div>

                    <div class="flex-md-fill align-self-center w-100">
                        <div class="list-group list-group-flush w-100 text-nowrap">
                            <li class="list-group-item lead">Username: <span class="handwriting">{{ album_owner }}</span></li>
                            {% if album_owner.first_name != '' and album_owner.last_name != '' %}
                                <li class="list-group-item lead">Full name: <span class="handwriting">{{ album_owner.first_name }} {{ album_owner.last_name }}</span></li>
                            {% else %}
                                <li class="list-group-item lead">Full name: ?</li>
                            {% endif %}
                            <li class="list-group-item lead">Nickname: <span class="handwriting">{{ album_owner.profile.nickname|default:"?" }}</span></li>
                            <li class="list-group-item lead">Location: <span class="handwriting">{{ album_owner.profile.location|default:"?" }}</span></li>
                        </div>
                    </div>
                </div>

                <div class="w-100 border rounded mt-2 p-3">
                    <p class="lead border-bottom text-center" style="font-size:1.4em;">{{ album_owner }}'s Mewmoir</p>
                    <p class="lead m-0">
                        <span class="handwriting">{{ album_owner.profile.bio|default:"This member hasn't written anything about themselves yet." }}</span>
                    </p>
                </div>
            </div>

            <div class="modal-footer bg-light justify-content-center">
                Joined {{ album_owner.date_joined|date:"F j, Y" }}
            </div>

        </div>
    </div>
</div>
