

<!-- modal for delete alert -->

<div id="deleteModal{{post.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{post.id}}Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <!-- modal body -->
            <div class="modal-body">
                <h4>Permanently delete this post?</h4>
            </div>

            <div class="modal-footer">
                <form action="{% url 'social_media:delete_post' post.id %}" method="POST">
                    {% csrf_token %}
                    <!-- <input id="post" name="post" type="hidden" value="{{ post.id }}"> -->
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Delete Post</button>
                </form>

            </div> <!-- end modal body -->
        </div> <!-- end modal content -->
    </div>
</div> <!-- close modal -->
