

<!-- modal for delete alert -->

<div id="deleteCommentModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <!-- modal body -->
            <div class="modal-body">
                <h4>Permanently delete this comment?</h4>
            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="submitDeleteCommentButton" type="button" class="btn btn-primary">Delete Comment</button>

            </div> <!-- end modal body -->
        </div> <!-- end modal content -->
    </div>
</div> <!-- close modal -->
