

<!-- template for cropping profile picture modal -->

<div id="setAvatarModal" class="modal fade avatar-modal" tabindex="-1" role="dialog" aria-labelledby="setAvatarModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered mx-auto" role="document">
        <div class="modal-content">
        <!-- modal header -->
            <div class="modal-header py-1">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        <!-- modal body -->
            <div class="modal-body">
                <div class="" style="max-width: 100%;">
                    <img src="" id="avatarImage" style="max-width:100%;">
                </div>
            </div>

    <!-- modal footer -->
            <div class="modal-footer">
                <div class="btn-group pull-left" role="group">
                    <button type="button" class="btn btn-info js-zoom-in">
                        <i class="fas fa-search-plus"></i>
                    </button>
                    <button type="button" class="btn btn-info js-zoom-out">
                        <i class="fas fa-search-minus"></i>
                    </button>
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary js-crop-and-upload">Set Avatar</button>
            </div>

        <!-- end of modal content -->
        </div>
    </div>
</div> <!-- close modal -->
