

<!-- modal for view post or image -->

<div id="viewModal{{post.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="w-100">
                <button type="button" class="close float-right mr-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <!-- modal body -->
            <div class="modal-body">
            <!-- image div -->
                <div class="d-lg-flex">
                    <div class="m-1 flex-lg-col card">
                        <img class="image-fluid post_image" style="" src="/media/{{ post.photo.photo }}" />
                    </div>

            <!-- caption and comments div -->
                    <div class="m-1 flex-lg-col border border-dark" style="min-width:30vw;">
                        <div class="flex-row">
                        <!-- post user and caption details / media object -->
                            <div class="media border border-info">
                                <img id="profilePic" class="mr-3" src="/static/social_media/img/frame1.png" alt="" />
                                <div class="media-body">
                                    <h6 class="mt-0">{{ post.user.username }} - {{ post.created_at|date:"g:i A - j M y" }}</h6>
                                    <p class="mb-0">{{ post.caption }}</p>

                            <!-- post comments details / nested media object -->
                                {% for comment in comments %}
                                    {% if comment.post.id == post.id %}
                                        <div class="media mt-3">
                                            <!-- eventually make this link to other users' albums -->
                                            <a class="pr-3" href="#">
                                                <img class="other_user_pic" src="/static/social_media/img/frame1.png" alt="" width="50" />
                                            </a>
                                            <div class="media-body">
                                                <h6>{{ comment.user.username }} at {{ comment.created_at|date:"g:i A - j M y" }}</h6>
                                                <p class="mb-0">{{ comment.comment }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                </div> <!-- close outer media-body -->
                            </div> <!-- close outer media object -->
                        </div>

                        <div class="flex-row align-self-end">
                        <!-- comment form / as media object -->
                            <div class="media border border-success">
                                <img class="other_user_pic" src="/static/social_media/img/frame1.png" alt="" width="50" />
                                <div class="media-body">

                                </div>
                            </div>
                        </div>


                    </div> <!-- close flex col -->
                </div> <!-- close outer flex box -->
            </div> <!-- end modal body -->
        </div> <!-- end modal content -->
    </div>
</div> <!-- close modal -->
